body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #FFFAF5;
    width: 100%;
}

header {
    width: 100%;
}

.nav-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 3rem;
    align-items: center;
}

.nav-wrapper a {
    text-decoration: none;
    font-size: medium;
    font-weight: 700;
    color: #251400;
}

.nav-wrapper a:hover {
    color: #E06A00;
}

.nav-menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    list-style-type: none;
    padding: 0;
}

.nav-menu li a {
    text-decoration: none;
}

a:hover {
    cursor: pointer;
}

.logo {
    width: 200px;
    height: 185px;
}

.logo-navbar {
    width: 30px;
    height: 30px;
    transition: box-shadow .3s;
}

.logo-navbar:hover {
    width: 30.5px;
    height: 30.5px;
}

.logo-navbar-procurar {
    width: 20px;
    height: 20px;
}

.barra-pesquisa {
    display: flex;
    flex-direction: row;
    min-width: 200px;
    min-height: 20px;
    border-bottom: solid 1px #b4b4b4;
}

.barra-pesquisa span {
    text-align: start;
    color: #b4b4b4;
}

.wrapper-explorar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 3rem;
    align-items: center;
    padding: 3rem 0;
}

.texto-explorar {
    max-width: 300px;
}

.novidades-explorar {
    background-color: burlywood;
    min-height: 200px;
    min-width: 200px;
}

.carrosel-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    width: 100%;
    overflow: hidden;
    padding: 1rem 0;
    position: relative;
}

.carrosel-livros {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    overflow-x: hidden; /* Esconde o excesso de conteúdo horizontal */
    justify-content: flex-start;
    scroll-behavior: smooth; /* Transição suave ao navegar */
}

.livro-card {
    flex-shrink: 0; /* Garante que os itens não redimensionem */
    width: 150px; /* Largura fixa para todos os cartões */
    margin: 0 0.5rem; /* Espaçamento horizontal entre os cartões */
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
    padding: 1rem;
}

.livro-card img {
    width: 100px;
    height: 150px;
    object-fit: cover;
    border-radius: 3px;
}

.livro-card h4 {
    font-size: 1rem;
    margin-top: 0.5rem;
    color: #333;
}

.livro-card p {
    font-size: 0.9rem;
    color: #555;
}

.livro-card span {
    font-size: 0.95rem;
    font-weight: bold;
    color: #333;
}

/* Remove sublinhado em links do carrossel */
.livro-card a {
    text-decoration: none;
    color: inherit; /* Mantém a cor do texto atual */
    transition: color 0.3s ease; /* Animação suave ao passar o mouse */
}

/* Cor no hover */
.livro-card a:hover {
    color: #251400; /* Adiciona destaque ao passar o mouse */
}

.nav-button {
    background: none; 
    color: #E06A00;
    border: none;
    padding: 0.5rem 1rem;
    cursor: pointer;
    font-size: 3rem;
    border-radius: 50%;
    display: flex;
    align-items: center;
}

.nav-button:disabled {
    color: #ccc;
    cursor: not-allowed;
}

.nav-button:hover:not(:disabled) {
    color: #251400;
}

.carrosel-submenu {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 4rem 0 1rem 0;
}

.categorias {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 2rem;
    align-items: center;    
    padding: 4rem;
}

.grid-categorias {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
    max-width: 600px;
}

.grid-categorias div {
    min-height: 20px;
    min-width: 100px;
    padding: 0.75rem;
    text-align: center;
    flex-shrink: 0; /* Garante que os itens não redimensionem */
    margin: 0 0.5rem; /* Espaçamento horizontal entre os cartões */
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    min-width: 100%;
    min-height: 150px;
    background-color: #391F00;
    position: absolute;
    right: 0px;
    left: 0px;
}

.footer-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 6rem;
}

footer div {
    color: white;
}

.footer-contato {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.footer-contato button {
  font-size: 16px;
  font-weight: 200;
  letter-spacing: 1px;
  padding: 5px 20px 5px;
  outline: 0;
  color: #E06A00;
  border: 1px solid #E06A00;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0);
}

.footer-contato button:hover {
    color: white;
    background-color: #E06A00;
}

.carrosel-menu {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 3rem;
    align-items: center;
    padding: 0;
    color: #251400;
}

.carrosel-menu ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 1rem;
    list-style-type: none;
    padding: 0;
}

.carrosel-menu li a {
    text-decoration: none;
}

.carrosel-menu button {
    background: none;
    color: #251400;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
}

.carrosel-menu button:hover {
    color: #E06A00;
}
/* Container principal */
.book-detail-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #FFFAF5;
    padding: 2rem;
    max-width: 1200px;
    margin: 0 auto;
}

/* Layout do conteúdo */
.book-detail-content {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 2rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
}

/* Imagem do livro */
.book-detail-image {
    width: 250px;
    height: 350px;
    object-fit: cover;
    border-radius: 5px;
}

/* Informações do livro */
.book-detail-info {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

/* Estilo do título */
.book-detail-info h1 {
    font-size: 2rem;
    color: #391F00;
}

/* Estilo das informações */
.book-detail-info p {
    font-size: 1rem;
    color: #555;
}

/* Preço destacado */
.book-price {
    font-size: 1.5rem;
    font-weight: bold;
    color: #333;
}

/* Botão "Adicionar ao Carrinho" */
.add-to-cart-button {
    background-color: #391F00;
    color: #fff;
    border: none;
    padding: 0.75rem 1.5rem;
    font-size: 1rem;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    max-width: 200px;
}

.add-to-cart-button:hover {
    background-color: #5A3B0D;
}

.carrinho {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 8rem 3rem;
}

.card-produto-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 2rem;   
    padding: 0 4rem;
}

.card-produto-wrapper ul {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.card-produto {
    display: flex;
    flex-direction: row;
    width: 400px;
    gap: 2rem;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 2rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card-produto-info {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.card-produto-detalhes {
    display: flex;
    flex-direction: column;
}

#titulo-card {
    font-size: large;
    font-weight: 700;
}

.info-carrinho {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    font-size: large;
}

.info-carrinho button {
    background-color: #391F00;
    color: #fff;
    border: none;
    padding: 0.75rem 1.5rem;
    font-size: 1rem;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    max-width: 200px;
}

.info-carrinho button:hover {
    background-color: #5A3B0D;
}

.botoes-carrinho {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    padding-top: 1rem;
}

.carrinho-remover {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 0.25rem;
}

.carrinho-remover select, button:hover {
    cursor: pointer;
}

.carrinho-remover button:hover {
    background-color: #391F00;
    color: white;
}

.carrinho-remover select {
    align-self: flex-end;
    background: none;
    color: #251400;
    border: 2px solid #251400;
}

.carrinho-remover button {
    background: none;
    color: #251400;
    border: 2px solid #251400;
}

/* Estilos simples para a página de login */
.login-page {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    width: 300px;
    margin: auto;
    padding: 0 0 5rem;
}

.login-page h2 {
    text-align: center;
    color: #251400;
}

.login-page form {
    display: flex;
    flex-direction: column;
}

.login-page input {
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.login-page button {
    padding: 10px;
    border: none;
    background-color: #E06A00;
    color: white;
    cursor: pointer;
}

.login-page .error-message {
    color: red;
    font-size: 12px;
    text-align: center;
}

.books-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 1rem;
    padding-top: 2rem;
}

.book-card {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    transition: transform 0.2s;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    text-align: center;
}

.book-card:hover {
    transform: scale(1.03);
}

.book-card img {
    width: 100%;
    height: auto;
    object-fit: cover;
    max-height: 250px;
}

.card-content h3 {
    font-size: 1.2rem;
    color: #333;
    margin-bottom: 0.5rem;
}

.card-content p {
    font-size: 1rem;
    color: #666;
    margin-bottom: 0.5rem;
}

.book-card a {
    text-decoration: none; /* Remove a linha embaixo do link */
    color: inherit; /* Herda a cor do texto, evitando cor azul no link */
}

.pagination-controls {
    display: flex;
    justify-content: center;
    padding: 2rem 0;
}

.pagination-controls button {
    background-color: #391F00;
    color: #fff;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    margin: 0 0.5rem;
    border: solid 2px #5A3B0D
}

.pagination-controls button:hover {
    background-color: #251400;
}

.pagination-controls button:disabled {
    background-color: #ccc;
    border-color: #ccc;
}

.card-pedido-wrapper {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 2rem 0;
}

.card-pedido {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    background-color: white;
    max-width: 800px;
    padding: 2rem 3rem;
    border-radius: 10px;
    box-shadow: #777;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

#card-pedido-sublista {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

#card-pedido-sublista li {
    display: flex;
    flex-direction: column;
}

.pedido-finalizar {
    max-width: 200px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 1rem;
    padding-bottom: 3rem;
}

.pedido-finalizar select, button:hover {
    cursor: pointer;
}

.pedido-finalizar button:hover {
    background: none;
    color: #E06A00;
}

.pedido-finalizar select {
    background: none;
    color: #251400;
    border: 2px solid #251400;
}

.pedido-finalizar button {
    height: 40px;
    background: #E06A00;
    color: white;
    border: 2px solid #E06A00;
}